In [1]:
print("hello world")

hello world

In [2]:
a=10
print(a)

10

In [3]:
type(a)

int

In [4]:
var1=''
type(var1)

str

In [5]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [6]:
var3 = [ 'DS' , 'ML' ,'Python' ]
type(var3)

list

In [7]:
var4 = 1.
type(var4)

float

In [8]:
# / is used for division. x/y
x=15
y=3
print(x/y)

5.0

In [9]:
# % means modulus. It gives the remainder. x%y
x=6
y=4
print(x%y)

2

In [10]:
# // the floor division rounds the result down to the nearest whole number
x=15
y=2
print(x//y)

7

In [11]:
# Exponential **
x=2
y=5
print(x**y)
# this means 2 to the power of 5 = 2*2*2*2*2

32

In [12]:
# Q4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
l = [25,52,36, "apple", "windows", False, 5.6, True, 10, 4+3j]
for a in l :
    print(a)
    print(type(a))

25
<class 'int'>
52
<class 'int'>
36
<class 'int'>
apple
<class 'str'>
windows
<class 'str'>
False
<class 'bool'>
5.6
<class 'float'>
True
<class 'bool'>
10
<class 'int'>
(4+3j)
<class 'complex'>

In [13]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
count=0
A=10
B=2
if A%B==0:
    while A%B==0:
        count=count+1
        A = A//B
        print(count)

1

In [1]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
l = [3,5,9,55,25,20,15,30,33,26,36,39,54,87,14,75,58,21,24,27,22,2,7,65,45]
for i in l:
    if i==i//3 :
        print(i,"The number is divisible by 3")
    else :
        print(i, "The number is not divisible by 3")

3 The number is not divisible by 3
5 The number is not divisible by 3
9 The number is not divisible by 3
55 The number is not divisible by 3
25 The number is not divisible by 3
20 The number is not divisible by 3
15 The number is not divisible by 3
30 The number is not divisible by 3
33 The number is not divisible by 3
26 The number is not divisible by 3
36 The number is not divisible by 3
39 The number is not divisible by 3
54 The number is not divisible by 3
87 The number is not divisible by 3
14 The number is not divisible by 3
75 The number is not divisible by 3
58 The number is not divisible by 3
21 The number is not divisible by 3
24 The number is not divisible by 3
27 The number is not divisible by 3
22 The number is not divisible by 3
2 The number is not divisible by 3
7 The number is not divisible by 3
65 The number is not divisible by 3
45 The number is not divisible by 3

In [3]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
# Mutable data types are those that can be changed after they are created. For example lists, dictionary, set.
# Example to demonstrate we can change the value of the list by using the assignment operator
my_list = [1,2,3,4,5]
my_list[4] = 100
print("List after changing value using indexing = ", my_list)


# Immutable data types are those whose values cannot be modified once they are created. For example, int, string, bool, float, tuple, etc.
name = "disha"
name[3] = "g"

List after changing value using indexing =  [1, 2, 3, 4, 100]

TypeError: 'str' object does not support item assignment